[submodule "Documentation/html"]
	path = Documentation/html
	url = https://github.com/pymzml/pymzml.github.com.git
[submodule "Documentation_src/build/html"]
	path = Documentation_src/build/html
	url = https://github.com/pymzml/pymzml.github.com.git
[submodule "Website"]
	path = Website
	url = https://github.com/pymzml/pymzml.github.com.git
