prune Documentation/html/.doctrees/
prune compare
exclude Documentation/html/.buildinfo

recursive-include Documentation/html/ *

include example_scripts/accessAllData.py
include example_scripts/compareSpectra.py
include example_scripts/deconvolution.py
include example_scripts/find_abundant_precursors.py
include example_scripts/get_example_file.py
include example_scripts/hasPeak.py
include example_scripts/highestPeaks.py
include example_scripts/plotAspec.py
include example_scripts/queryOBO.py
include example_scripts/simpleParser*
include example_scripts/writeExample.py
include example_scripts/runTests.py
include example_scripts/parseAllExampleFiles.py
incluce example_scripts/chromatogram.py
include example_scripts/extractIonChromatogram.py

include COPYING.LESSER
include Documentation/pymzml.pdf
include AUTHORS.txt
include README.txt

recursive-include src/obo/ *
